@model ICollection<OrderViewModel>
<h2>All Orders</h2>
<div class="row" style="padding-bottom: 20px">
    <div class="col-12">
        @Html.ActionLink("New order", "MakeOrder", "Orders", null, new { @class = "btn btn-lg btn-outline-success" })
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order date</th>
                    <th>Meals</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
</div>