@model OrderBindingModel
<h2>Make Order</h2>
@Html.EditorForModel()

@section styles {
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.bg.min.js"></script>
    <script src="~/Scripts/init-datepicker.js"></script>
}